{% extends "base.html" %}
{% block container_content %}
<div id="loginbox">
            <form method="POST" accept-charset="UTF-8">{% csrf_token %}
                {% if invalid %}
                
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#"></a>Incorrect Username or Password!
                </div>
                {% else %}
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert" href="#"></a>Enter username and password to continue
                </div>
                    
                {%endif%}
                <b>Username:<b><input type="text" class='form-control input-box' name="username" style='width:20%;'>
                <br>
                <br>
                <b>Password:</b><input type="password" class='form-control input-box' name="password" style='width:20%;'>
                <br>
                <div style='padding-left:20px;padding-top:20px;'>
                    <button type='submit' class="btn btn-success ">Login</button>
                    <a class="btn btn-primary" href='/profile/register'>Register</a>
                </div>
            </form>
        </div>

{% endblock %}