{% extends "base.html" %}
{% block container_content %}

<div>
	<h1 class="page-header leftalign">Profile</h1>
</div>

  <div class="image-rounded prof-table">
    <a href="#" class="">
      <img data-src="holder.js/100%x180" alt="..." src="/static/images/images.jpg">
    </a>
  </div>
  



<div class="display panel panel-default prof-table">
  <table class="table" style=" border-collapse:collapse">
  	<tr class="panel-body">
   <td class="profile leftalign">Nick</td><td class="profile">:</td><td class="profile leftalign">{{ query_user.user.username }}</td>

</tr>
   
<tr class="panel-body">
   <td class="profile leftalign">Full Name</td><td class="profile">:</td><td class="profile leftalign">{{query_user.user.first_name}} {{query_user.user.last_name}}</tr>

</tr>

<!--<tr class="panel-body">
   <td class="profile leftalign">Facebook</td><td class="profile">:</td><td class="profile leftalign">{{query_user.fb_profile }}</td>
  </div>
-->
  
  <tr class="panel-body">
   <td class="profile leftalign">Email</td><td class="profile">:</td><td class="profile leftalign">{{query_user.user.email}}</td>
  </tr>
</table>
</div>


{% endblock %}
