.chat-table-heading-username {
    width: 15%;
}

td {
    word-wrap : break-word;
}

.chat-table-heading-message {
    width: 70%;
}
.chat-table-heading-timestamp {
    width: 15%;
}

.chat-timestamp {
    font-size: 12px;
    font-style: italic;
}
.chat-username {
    text-decoration: none !important;
}