{% extends "base/base.html" %}

{% block extra_css %}
<link href="{{STATIC_URL}}css/chat/chat_table.css" rel="stylesheet" />
{% endblock %}

{% block page_content %}
<br>
<div class="row">
    <div class="col-xs-2 nopadding">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
        </ul>
    </div>
    <div class="col-xs-8 nopadding">
        <table id="messages-container" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class='chat-table-heading-username nopadding'></th>
                    <th class='chat-table-heading-message nopadding'></th>
                    <th class='chat-table-heading-timestamp nopadding'></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td><a class="chat-username" href=''>name</a></td>
                    <td>message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-2 nopadding">
        <ul class="list-group">
            <li class="list-group-item">
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
        </ul>
    </div>
</div>
{% endblock%}

{% block extra_js %}
<script src="{{STATIC_URL}}js/chat/chat.js"></script>
{% endblock %}