{% extends "base/base.html" %}

{% block extra_css %}
<link href="{{STATIC_URL}}/chat/css/chat_table.css" rel="stylesheet" />
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-xs-2 nopadding">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
        </ul>
    </div>
    <div class="col-xs-8 nopadding">
        <div id="message-column">
            <table id="messages-container" class="message-table table table-striped table-hover">
                <thead>
                    <tr>
                        <th class='chat-table-heading-username nopadding'></th>
                        <th class='chat-table-heading-message nopadding'></th>
                        <th class='chat-table-heading-timestamp nopadding'></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                <tr>
                    <td class="chat-username"><a href=''><b>name</b></a></td>
                    <td class="chat-message">message</td>
                    <td class='chat-timestamp'>Apr 05, '14 23:43:23</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="chat-input-group" class="input-group">
            <input id="chat-input" class="form-control" autocomplete="off" autofocus placeholder="Text input"></input>
            <button id='chat-submit-button' type="button" class="btn btn-success">SEND</button>
        </div>
    </div>

    <div class="col-xs-2 nopadding">
        <ul class="list-group">
            <li class="list-group-item">
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
             <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
        </ul>
    </div>
</div>
{% endblock%}

{% block extra_js %}
<script src="{{STATIC_URL}}chat/js/chat.js"></script>
{% endblock %}