{% extends "base.html" %}

{% block container_content %}
<style type="text/css">
.body{
    background: black;
}
.list-group-item:last-child{
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
}
.list-group-item:first-child{
    border-top-right-radius:0px;
    border-top-left-radius:0px;

}
.col-xs-2,.col-xs-1{
    padding: 0 0 0 0;
}
.col-xs-9{
    padding: 10px 0 10px 0;
}
.container{
    max-width: 100%;
}
.chat-messages{
    border: 0px;
}
.list-group-item{
    border: 0px;
    color: #b3b3b3;
    background: #343131
}
.list-group-item.active{
    border:0px;
}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td{
    padding: 6px;
}
.btn, .form-control, .well{
    border-radius: 0px;
    margin-top: -15px;
}
td{
    word-wrap : break-word;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
    background: #E3E3E3;
}
.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th{
    background: #F5F5F5;
}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td{
    border-color:#CCC;
}
</style>
<script type="text/javascript">
    setInterval(function() {
        last_message_id = $('#chat-body').find("tr:last").attr('id')
        $.ajax({
                data : { 'last_message':last_message_id, 'commit':'refresh'},
                success:function(json_data){
                    if(json_data['new_messages'] != '')
                    {
                        html_rows = ''
                        for(i=0;i<json_data['new_messages'].length;i++){
                            html_rows += render_html(json_data['new_messages'][i])
                        }
                        if(json_data['new_messages'][0]['id'] > last_message_id){
                            $('#chat-table tr:last').after(html_rows);
                            $('#chat-messages').scrollTop(9999999)
                        }
                    }
                }
            });
    }, 2000); //2 seconds
</script>
<div id='chat-page' class="row" style='overflow-y:hidden;overflow-x:hidden;'>
    <div class='col-xs-1' style='height:100%;'>
        <div class="list-group chat-messages" style='background:#343131'>
            <a href="#" class="list-group-item active">#kickchat</a>
        </div>
    </div>


    <div class='col-xs-9 nopadding' style='height:100;'>
        <div id="chat-content">

            <div id="chat-messages" class="chat-messages">
                <table id='chat-table' class="table table-striped table-hover msg-box nomargin">
                    <thead class="nopadding">
                        <tr>
                            <th style='width:15%;'></th>
                            <th style='width:68%;height:32px;'>
                                <button id='show-more' class='btn btn-link btn-block' style='padding:0px;'><b>Show More</b></button>
                            </th>
                            <th style='width:15%;'></th>
                        </tr>
                    </thead>
                    <tbody id='chat-body'>
                        {% for m in msg %}
                        <tr id={{m.id}}>
                            <td style='padding-left:5px;'>
                                <a href='/profile/{{m.username}}'>
                                    <img src='/static/images/images.jpg' height=20px width=20px</img>
                                    <b>{{ m.username }}</b>
                                </a>
                            </td>
                            <td>
                                {{ m.message }}
                            </td>
                            <td style='font-size:11px;'>
                                {{ m.time }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class='well' style='background:#343131;padding:5px 0px 5px 0px;border:0px;'>
        <div class="input-group" style='margin-top:28px;'>
            <input id='message-box' required type="text" class="form-control" autocomplete="off" autofocus placeholder="Text input">
            <span class="input-group-btn">
                <button id="send" class="btn btn-success"><b>Send</b></button>
            </span>
        </div>
    </div>


    </div>

    <div class='col-xs-2' style='height:100%;'>
        <div class="list-group chat-messages" style='background:#343131;'>
            {% for i in online_users %}
            {% if i.user.username == request_user.username %}
            <a href="/profile" class="list-group-item active" target='blank' style='border:0px;'>
                <img src='/static/images/images.jpg' height=20px width=20px</img>
                <b>{{i.user.username}}</b>
            </a>
            {% else %}
            <a href="/profile/{{i.user.username}}" target='blank' class="list-group-item" style='border:0px;color:#b3b3b3;background:#343131'>
                <img src='/static/images/images.jpg' height=20px width=20px</img>
                {{i.user.username}}
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}
