{% extends "base.html" %}

{% block container_content %}
<script type="text/javascript">
    setInterval(function() {
        last_message = $('#chat-body').find("tr:last").attr('id')
        $.ajax({
                data : { 'last_message':last_message, 'commit':'refresh'},
                success:function(data){
                    if(data['html_rows'] != '')
                    {
                        if(data['msg_id'] != last_message){
                            $('#chat-table tr:last').after(data['html_rows']);
                            $('#chat-messages').scrollTop(99999999999)
                        }
                    }
                }
            });
    }, 2000); //2 seconds
</script>
<div id='chat-page' class="row" style="height:610px;">

    <div class='col-xs-2' style='height:100%;'>
        <div class="list-group chat-messages">
            <a href="#" class="list-group-item active">#kickchat</a>
        </div>
    </div>


    <div class='col-xs-8 nopadding' style='height:100%;'>
        <div class="chat-content" style='height:91%;'>

            <div id="chat-messages" class="chat-messages">
                <table id='chat-table' class="table table-striped table-hover msg-box nomargin">
                    <thead class="nopadding">
                        <tr>
                            <th style='width:10%;'></th>
                            <th style='width:68%;'>
                                <button id='show-more' class='btn btn-link btn-block' style='padding:0px;'><b>Show More</b></button>
                            </th>
                            <th style='width:22%;'></th>
                        </tr>
                    </thead>
                    <tbody id='chat-body'>
                        {% for m in msg %}
                        <tr id={{m.id}}>
                            <td>
                                <a href='/profile/{{m.username}}'><b>{{ m.username }}</b></a>
                            </td>
                            <td>
                                {{ m.message }}
                            </td>
                            <td style='font-size:10px;'>
                                {{ m.time }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="input-group">
            <input id='message-box' required type="text" class="form-control" autocomplete="off" autofocus placeholder="Text input">
            <span class="input-group-btn">
                <button id="send" class="btn btn-success"><b>Send</b></button>
            </span>
        </div>


    </div>

    <div class='col-xs-2' style='height:100%;'>
        <div class="list-group chat-messages" >
            {% for i in online_users %}
            {% if i.user.username == request_user.username %}
            <a href="/profile" class="list-group-item active" target='blank'>{{i.user.username}}</a>
            {% else %}
            <a href="/profile/{{i.user.username}}" target='blank' class="list-group-item" >{{i.user.username}}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}
