<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>KickChat</title>
  <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" />
  <link href="{{STATIC_URL}}css/custom.css" rel="stylesheet" />
  <style>
  body {
      padding-top: 60px;
  }
  </style>
  <script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script> 
  <script type='text/javascript'>
  $(document).ready(function(){
  element = $('#{{ activated_navbar_element }}')
  element.attr('class','active')
  $('#chat-page').height($(window).height()-80)
  $(window).resize(function() {
      $('#chat-page').height($(window).height()-80)
  })
  })

  </script>
  
</head>
<body>
  {% block content %}
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">KickChat</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul id='navbar' class="nav navbar-nav">
            <li id='chat'><a href="/chat">Chat</a></li>
            <li id='profile'><a href="/profile">Profile</a></li>
            <li id='search'><a href="/search">Search</a></li>
            <li id='groups'><a href="/groups">Groups</a></li>
            <li id='about'><a href="/about">About</a></li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
            {% if online == '1' %}
            <li><a>Logged in as  <b>{{current_user.username}}</b></a></li>
            <li  id='logout'><a href="/profile/logout">Logout</a></li>
            {% else %}
            <form method='POST' class='navbar-form navbar-right'>{% csrf_token %}
                <div class='form-group'>
                    <input class='form-control' type='text' placeholder='Username' name='username'>
                </div>
                <div class='form-group'>
                    <input class='form-control' type='password' placeholder='Password' name='password'>
                </div>
                <button class='btn btn-info' type='submit'><b>Sign In</b></button>
            </form>
            {% endif %}
        </ul>
    </div><!--/.nav-collapse -->
</div>
</div>
{% endblock %}

<div class="main-content container">
 {% block container_content %}{% endblock %}
</div>

{% block js %}
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>
