<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>KickChat</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/css/custom.css" rel="stylesheet" />
  <style>
  body {
    padding-top: 50px;
    background : #F6F6F6;
  }
  </style>
  <script src="/static/js/jquery-1.10.2.min.js"></script> 
  <script type='text/javascript'>
  $(document).ready(function(){
      element = $('#{{ activated_navbar_element }}')
      element.attr('class','active')
      $('#chat-page').height($(window).height()-50)
      $(window).resize(function() {
          $('#chat-page').height($(window).height()-50)
      })
      $('#chat-content').height($(window).height()-50-43)
      console.log($(window).height()-50-43)
      $(window).resize(function() {
            $('#chat-content').height($(window).height()-50-43)
      })
      $('#chat-messages').scrollTop(99999999999)
      $('#send').click(function(){
          message = $('#message-box').val()
              if (message != ''){
                $.ajax({
                  type : 'POST',
                  data : {'commit':'message', csrfmiddlewaretoken:'{{csrf_token}}', 'message':message },
                    success:function(data){
                        $('#chat-table tr:last').after(data['table_row']);
                        $('#chat-messages').scrollTop(99999999999)
                    }
                });
              }
              $('#message-box').val('')
      });
      $("#message-box").keyup(function (e) {
          if (e.keyCode == 13) {
              message = $('#message-box').val()
              if (message != ''){
                $.ajax({
                  type : 'POST',
                  data : {'commit':'message', csrfmiddlewaretoken:'{{csrf_token}}', 'message':message },
                    success:function(data){
                        $('#chat-table tr:last').after(data['table_row']);
                        $('#chat-messages').scrollTop(99999999999)
                  }
                });
              }
              $('#message-box').val('')
          }
      });
      if($('#chat-table tr').length == 1){
              $('#show-more').attr('disabled','disabled')
          }
      $('#show-more').click(function(){
          first = $('#chat-body').find("tr:first").attr('id')
          $.ajax({
                data : {'first': first, 'commit':'new_message'},
                success:function(data){
                  $('#chat-body tr:first').before(data['old_messages']);
                  if (data['disabled'])
                  {
                    $('#show-more').attr('disabled','disabled')
                  }
                }
          });
      });

      //JS animations
      $('#register-dropdown-toggle').click(function(){
          $('#register-dropdown').slideToggle()
      });
      $('#signin-dropdown-toggle').click(function(){
          $('#signin-dropdown').slideToggle()
      });

  })

  </script>
  
</head>
<body>
  {% block content %}
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">KickChat</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul id='navbar' class="nav navbar-nav">
            <li id='chat'><a href="/chat">Chat</a></li>
            <li id='profile'><a href="/profile">Profile</a></li>
            <li id='search'><a href="/search">Search</a></li>
            <li id='groups'><a href="/groups">Groups</a></li>
            <li id='about'><a href="/about">About</a></li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>

            {% if request_user.username != '' %}
            <li><a>Logged in as  <b>{{request_user.username}}</b></a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li class="dropdown">
                <a id='register-dropdown-toggle' href='' class="dropdown-toggle" data-toggle="dropdown">Register <strong class="caret"></strong></a>
                <div id='register-dropdown' class="dropdown-menu" style='height:390px;width:250px;'>
                    <div style="padding-left:20px;padding-right:20px;padding-top:5px;">
                        <h4>Register for KickChat!</h4>
                        <hr style='margin:10px 0px;'>
                        <form method="POST" accept-charset="UTF-8">{% csrf_token %}
                            <div style='padding-top:0px;padding-bottom:10px;'>
                              {{registration_form.firstname}}
                            </div>
                            <div style='padding-top:0px;padding-bottom:10px;'>
                              {{registration_form.lastname}}
                            </div>
                            <div style='padding-top:0px;padding-bottom:10px;'>
                              {{registration_form.username}}
                            </div>
                            <div style='padding-top:0px;padding-bottom:10px;'>
                              {{registration_form.email}}
                            </div>
                            <div style='padding-top:0px;padding-bottom:10px;'>
                              {{registration_form.password}}
                            </div>
                            {{registration_form.password2}}
                            <hr style='margin:10px 0px;'>
                            <div class="well well-sm" style='padding-top:5px;padding-bottom:35px;' >
                                <input class='btn btn-default btn-sm pull-left' type='reset'>
                                <input class="btn btn-success btn-sm pull-right" type="submit" name="commit" value="Register" >
                            </div>
                            
                        </form>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <a id='signin-dropdown-toggle' class="dropdown-toggle" href='#' data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                <div id='signin-dropdown' class="dropdown-menu" style='height:212px;width:250px;'>
                    <div style="padding-left:20px;padding-right:20px;padding-top:5px;">
                        <h4>Sign In to start Kicking!</h4>
                        <hr style='margin:10px 0px;'>
                        <form method="POST" accept-charset="UTF-8">{% csrf_token %}
                            <div style='padding-top:0px;padding-bottom:10px;'>
                              {{ login_form.username }}
                            </div>
                            {{ login_form.password }}
                            <hr style='margin:10px 0px;'>
                            <div class="well well-sm" style='padding-top:5px;padding-bottom:35px;' >
                                <a href='#' style='font-size:12px;position:absolute;bottom:21px;'>Forgot Password</a>
                                <input class="btn btn-primary btn-sm pull-right" type="submit" name="commit" value="Sign In" >
                            </div>
                            
                        </form>
                    </div>
                </div>
            </li>

          
  <!--<form method='POST' class='navbar-form navbar-right'>{% csrf_token %}
    <div class='form-group'>
        <input class='form-control' type='text' placeholder='Username' name='username'>
    </div>
    <div class='form-group'>
        <input class='form-control' type='password' placeholder='Password' name='password'>
    </div>
    <button class='btn btn-info' type='submit'><b>Sign In</b></button>
</form>-->
{% endif %}
</ul>
</div><!--/.nav-collapse -->
</div>
</div>
{% endblock %}

<div class="main-content container">
 {% block container_content %}{% endblock %}
</div>

{% block js %}
<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>

