{% extends "chat.html" %}
{% block chat_content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th style='width:10%;'></th>
            <th style='width:72%;'></th>
            <th style='width:18%;'></th>
        </tr>
    </thead>
    <tbody>
        {% for m in msg %}
            <tr>
                <td>
                    <a href='#'><b>{{ m.username }}</b></a>
                </td>
                <td>
                    {{ m.message  }}
                </td>
                <td style='font-size:10px;'>
                    {{ m.time }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
