.navbar {
    font-size: 16px;
    border-width: 0 0 4px 0;
    background-color: #222;
    border-color: #3EA6AF;
}

.navbar-brand:hover, .nav-element>a:hover {
    color: white !important;
}

.navbar-element-selected{
    color: white !important;
}

.navbar-brand {
    color: white !important;
}

